
body {
    background: rgb(34, 34, 34);
    background: linear-gradient(180deg, rgba(34, 34, 34, 1) 10%, rgba(0, 0, 0, 1) 83%);
    

    .container-fluid {
        background-color: black;
        padding: 30px 35px;

        span {
            font-size: 25px;

            a {
                text-decoration: none;
                color: white;
                cursor: default;

                i {
                    font-size: 35px;
                    padding: 0px 5px;
                }
            }

        }
    }

    main {
        height: 100vh;

        .card {
            background-color: black;
            width: 60vw;
            height: 80vh;

            h1 {
                color: white;
            }

            a {
                text-decoration: none;

                .card-logo {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border: 1px solid rgb(78, 78, 78);
                    border-radius: 25px;
                    width: 300px;
                    height: 50px;


                    img {
                        width: 24px;
                        height: 24px;
                        margin-right: 10px;
                    }

                    p {
                        margin: 0;
                        flex: 1;
                        text-align: center;
                        color: white;
                    }
                }
            }

            hr {
                color: white;
                // margin: 50px 70px;
            }

            .form-label {
                color: white;
                padding-top: 15px;
                padding-bottom: 0px;
            }

            #username {
                background-color: rgba(128, 128, 128, 0.164);
                border: 1px solid gray;
                border-radius: 5px;

            }

            #password {
                background-color: rgba(128, 128, 128, 0.164);
                border: 1px solid gray;
                border-radius: 5px;
               
            }

            .form-check {
                margin-top: 15px;
                margin-bottom: 35px;

                .form-check-input:checked {
                    background-color: #1db954;
                    border-color: #1db954;

                    &:before {
                        transform: translateX(100%);
                    }
                }


                .form-check-input {
                    background-color: rgb(129, 129, 129);
                    border-color: #ccc;


                    &:before {
                        transform: translateX(0%);
                    }
                }


                .form-check-input {
                    width: 2.2rem;
                    height: 1.1rem;
                    appearance: none;
                    border-radius: 1.5rem;
                    cursor: pointer;
                    position: relative;
                    transition: background-color 0.3s ease-in-out;
                    outline: none;
                    margin-right: 1rem;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        background-color: black;
                        transition: transform 0.3s ease-in-out;
                        left: 0;
                        top: 0;
                    }
                }

                .form-check-label {
                    color: white;
                    display: flex;
                    justify-content: flex-start;
                }

                button[type="submit"].btn-success {
                    background-color: #1db954;
                    border: none;
                }
            }

            .anmelden-btn {
                background-color: #1db954;
                color: black;
                font-weight: bold;
                display: flex;
                justify-content: center;
                width: 100%;
                border-radius: 50px;
                padding: 10px;
            }

            p {
                color: rgb(156, 156, 156);

                a {
                    color: white;
                }
            }
        }
    }

    footer {
        background-color: black;
        padding: 0px;
        color: rgb(156, 156, 156);
        font-size: small;
    }

}